name: Build Android APK

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - run: chmod +x gradlew

      - run: ./gradlew assembleDebug

      - name: Find APK
        run: find . -name "*.apk"

      - uses: actions/upload-artifact@v4
        with:
          name: apk-file
          path: |
            **/*.apk
